name: Run project CI

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main
      - dev

jobs:
  quality:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: 3.12
      
      - name: Run Ruff check
        run: |
          python -m pip install --upgrade pip
          pip install ruff
          python -m ruff check .
        
